<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dog group list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <h1>List of all FCI dog groups</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>FCI group code</th>
                <th>Group name</th>            
            </tr>
        </thead>
        <tbody>
            <tr th:each="group : ${groups}">
                <td th:text="${group.groupCode}"></td>
                <td th:text="${group.name}"></td>                       
            </tr>
        </tbody>
    </table>
    
    <!-- This is a button which redirects to the main page "/doglist" -->
    <a th:href="@{/doglist}" class="btn btn-success">Back to dog list</a>
</body>
</html>
