<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Dog list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <table class="table table-striped table-bordered">
       <h1>Welcome to the dog database</h1>
        	<!-- This shows the user who is currently signed in -->
        	<div style="text-align: right">Signed in: <span sec:authentication="name"></span>
        		<!-- This is a button for logging out -->
        		<form th:action="@{/logout}" method="post">
        		<input type="submit" value="Sign Out" class="btn btn-primary"/></form>
        	</div>
        <br><br>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Height (cm)</th>
                <th>Weight (kg)</th>
                <th>Original use</th>
                <th>FCI group</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dog : ${dogs}">
                <td th:text="${dog.name}"></td>
                <td th:text="${dog.origin}"></td>
                <td th:text="${dog.height}"></td>
                <td th:text="${dog.weight}"></td>
                <td th:text="${dog.originalUse}"></td>
                <td th:text="${dog.group.groupCode}"></td>
                <!-- Only admin users have the rights to edit -->
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${dog.id})}" class="btn btn-secondary">Edit</a></td>   
                <!-- By clicking this button, a dog is deleted from the database based on its id -->
                <!-- Only admin users have the rights to delete -->
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${dog.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <!-- This is a button which redirects to the page "/add" where new dog can be added-->
    <!-- Only admin users have the rights to add -->
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/add}" class="btn btn-primary">Add Dog</a>
    <!-- This is a button which redirects to the page "/grouplist" where all dog groups are listed -->
    <a th:href="@{/grouplist}" class="btn btn-primary">Show all FCI groups</a>
</body>
</html>

